<div class="main">

	<div class="row">
		<div class="col-md-12">
			<h2>Your projects</h2>
		</div>
	</div>


	<div class="row">
		<div class="col-md-3">
			<h3>Companies:</h3>
			<div style="margin-left: 40px;">

<!-- 				<form name="myForm"> -->
<!-- 					<input type="radio" ng-model="color.name" value="red"> Red <br /> -->
<!-- 					 <input type="radio" ng-model="color.name" ng-value="specialValue"> Green -->
<!-- 					<br />  -->
<!-- 					<input type="radio" ng-model="color.name" value="blue"> Blue <br /> -->
<!-- 					<div ng-repeat="company in companyList"> -->
<!-- 					<input  name="company" type="radio" ng-model="$parent.color.name" value="blue"> 11 <br/> -->
<!-- 					</div> -->
<!-- 					<tt>color = {{color.name | json}}</tt> -->
<!-- 					<br /> -->
<!-- 				</form> -->


					<div class="radio" ng-repeat="company in companyList">
						<input type="radio" name="company" id="company{{$index}}" ng-model="$parent.selectedCompanyId" value="{{company.id}}">
						<label for="company{{$index}}"> {{company.name}} </label>
					</div>
					<div class="radio">
						<input type="radio" name="company" id="companyAll" ng-model="selectedCompanyId" value="-1"> <label for="companyAll">
							All </label>
					</div>

			</div>

			<h3>Categories:</h3>
			<div style="margin-left: 40px;">
				<div class="radio" ng-repeat="category in categoryList">
					<input type="radio" name="category" id="category{{$index}}" value="{{category.id}}" ng-model="$parent.selectedCategoryId"> <label for="category{{$index}}"> {{category.name}} </label>
				</div>
				<div class="radio">
					<input type="radio" name="category" id="categoryAll" ng-model="selectedCategoryId" value="-1"> <label for="categoryAll"> All </label>
				</div>
			</div>




		</div>
		<ul class="project-list col-md-9">
			<li ng-repeat="project in projects | orderBy:'+id'" ng-show="(selectedCompanyId==-1 || project.company.id==selectedCompanyId) && (selectedCategoryId==-1 || project.category.id==selectedCategoryId)">

				<div class="panel-sh" style="position: relative" ng-click="open(project.id)">
					<div class="menu-overlay">
						<span ng-click="remove(project.id);$event.stopPropagation();"><i class="fa fa-times fa-lg" /></span> <span
							ng-click="showProjectDialog(project.id);$event.stopPropagation();"><i class="fa fa-wrench fa-lg" /></span> <span
							ng-click="triggerStar(project);$event.stopPropagation();"><i class="fa fa-star fa-lg" /></span>
					</div>
					<div class="project-description">
						<h4>
							{{project.name}}<span ng-show="project.starred"> <i class="fa fa-star" style="color: gold;" /></span>
						</h4>
						<h6>{{project.description}}</h6>
					</div>
					<div class="footer">
						<h6>
							Start: {{getFormattedDate(project.startDate)}} <span class="pull-right">End: {{getFormattedDate(project.endDate)}}</span>
						</h6>
						<h6></h6>
					</div>

				</div>

			</li>
			<li ng-show="loading"><span style="margin-top: 20px; margin-left: auto; margin-right: auto; width: 100px;"><i
					class="fa fa-circle-o-notch fa-spin fa-3x text-primary"></i></span></li>
			<li><a ng-click="showProjectDialog(false)"><h4>
						<span><i class="fa fa-plus-circle fa-lg"></i></span> Create new project
					</h4></a></li>
		</ul>
	</div>
	<project-create-dialog></project-create-dialog>

</div>